@charset "use utf-8";

/* common */

body {
  font-family: "Noto Sans JP", sans-serif;
  /* font-weight: 500; */
  line-height: 1.75;
  text-align: center;
  font-size: 16px;
  color: #333;
}

h2 {
  margin: 3rem 0 ;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  margin: 12px;
  text-align: center;
  font-weight: 600;
}

.icon-img {
  width: 150px;
  height: 150px;
  margin: 0;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background: #f47741e1;
  color: #fff;
  border-bottom: 5px solid #f47741;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  margin-top: 2rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
}



.btn:hover {
  transform: translateY(4px);
  /* margin: top 3px;
  background: #f47741e1;
  color: #fff; */
  border-bottom: 1px solid #f47741;
}


/* header */
header {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: #ddd;
  width: 230px;
  height: 130px;
  border-radius: 5px;
}

.logo img {
  width: 190px;
  height: 120px;
  border-radius: 5px;
}

.pc-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  color: #ddd;
}

.pc-nav-list li {
  display: inline;
  text-align: center;
  cursor: pointer;
}

.pc-nav-list li:hover {
  opacity: 0.5;
}

/* オリジナル漫画 */

.section-title {
  display: flex;
  justify-content: center;
}

.original-manga-image img {
  width: 380px;
  height: 240px;
  margin-top: 10px;
}


/* お仕事 */
.work-map {
  display: flex;
  justify-content: space-around;
  /* gap:32px; */
  align-items: center;
  margin-top: 10px;
}

.index-work-item img {
  width: 190px;
  height: 240px;
}

#pinpon {
  width: 240px;
  height: 170px;
margin: 0 auto;
}


/* Profile */
.index-profile-main {
  display: flex;
  justify-content: center;
}

.index-profile-kakedashi img{
  width: 150px;
  height: 260px;
  border-radius: 10px;
}

#profile-top {
  font-size: 16px;
  text-align: center;
  padding: 50px 0;
}